.content {
  padding-top: 3rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: space-between;
}

.logoName {
  display: flex;
  gap: 1rem;
}

.flashcard {
  width: 4rem;
  height: 4rem;
}

.cards {
  display: flex;
  gap: 2rem;
}

.card {
  padding: 5rem 4rem;
  justify-content: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #f6f7fb;
  border-radius: 1rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.1);
}
.answers {
  width: 100%;
  background-color: #f6f7fb;
  border-radius: 1rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.1);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
}

.desc {
  max-width: 60rem;
  text-align: center;
}

.arrowRight {
  opacity: 0;
}

.card:hover .arrowRight {
  opacity: 1;
  transform: translateX(50%);
  transition: all ease 1s;
}

.top {
  margin-top: 2rem;
  padding: 2rem;
  cursor: pointer;
  background-color: #f6f7fb;
  border-radius: 50%;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.arrowFatLines {
  align-items: center;
  display: flex;
  justify-content: center;
}

.top:hover .arrowFatLines {
  transform: translateY(-30%);
  transition: all ease 1s;
}

.userTooltipContainer {
  position: relative;
  display: inline-block;
}

.userIcon img {
  cursor: pointer;
  border-radius: 50%;
}

.tooltipMenu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 18rem;
  z-index: 100;
}

.tooltipMenu::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 16px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltipItem {
  padding: 10px 16px;
  gap: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.tooltipItem:hover {
  background-color: #f0f0f0;
}

.userTooltipContainer:hover .tooltipMenu {
  display: block;
}
