.content {
  padding-top: 3rem;
}

.userCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.card {
  border-radius: 1rem;
  width: 100%;
  display: flex;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.05),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.userHeaderInfo {
  display: flex;
  gap: 3rem;
  padding-top: 2rem;
}

.headerDirection {
  padding-bottom: 12;
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.headerDirection::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #6c63ff;
  transition: width 0.3s ease-in-out;
}

.headerDirection:hover::after {
  width: 100%;
}

.userSideBar {
  width: 40%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #e94e77, #f9a857);
}

.userSideBar img {
  width: 12rem;
  padding-bottom: 2rem;
}
.userSideBar,
h1 {
  color: #ffffff;
}

.personalInfo {
  gap: 2rem;
  flex-direction: column;
  display: flex;
  font-weight: bold;
  padding: 1.5rem;
  flex: 1;
}

.infoTitle {
  display: block;
  width: 100%;
  border-bottom: 0.5px solid #212121;
  padding-bottom: 1rem;
}

.aboutMeLabel {
  color: var(--Typo-secondary, #5b6c73);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  margin-left: 2px;
  display: flex;
  align-items: center;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.default {
  margin-top: 5rem;
  margin-top: 2rem;
  background: linear-gradient(to right, #6c63ff, #836fff, #a393ff);
  padding: 1rem 5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all ease 1s;
  cursor: pointer;
  animation: hoverAny 2s ease;
}

.hovered {
  margin-top: 2rem;
  background: linear-gradient(to right, #6c63ff, #836fff, #a393ff);
  padding: 1rem 5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all ease 1s;
  cursor: pointer;
  animation: hoverAny 2s ease;
}

.hovered i h3 {
  color: #ffffff;
}

@keyframes hoverAny {
  from {
    background: linear-gradient(to right, #e94e77, #f9a857);
  }
  to {
    background: linear-gradient(to right, #6c63ff, #836fff, #a393ff);
  }
}
