.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homePageInfos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.titleAndDesc {
  display: flex;
  flex-direction: column;
}

.logoName {
  display: flex;
  gap: 1rem;
}

.flashcard {
  width: 4rem;
  height: 4rem;
}
.title {
  font-size: 4rem;
  font-weight: bold;
}

.subTitle {
  font-size: 2rem;
}

.joinButton {
  max-width: 22rem;
  padding: 1.25rem 0;
  border: none;
  background-color: #6c63ff;
  border-radius: 25px;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}

.arrowRight {
  opacity: 0;
  width: 2rem;
  visibility: hidden;
  position: absolute;
  left: 2rem;
}

.joinButton:hover .arrowRight {
  opacity: 1;
  transform: translateX(50%);
  transition: all ease 1s;
  visibility: visible;
}
